@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

/* Global Overrides */
body {
  font-family: "Nunito", sans-serif;
}

/* Custom Nav Branding Override if needed */
.navbar-brand {
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* Card Improvements */
.card {
  border: none;
  border-radius: 1rem;
}

/* Ensure images don't overflow */
img {
  max-width: 100%;
  height: auto;
}
